extends layout

block content
  h1= title
  if user
    p #{user.username}さんこんにちは
    h2 新規投稿
    form(method="post" action="/posts")
      div
        textarea(name="content" cols=40 rows=4)
      div
        button(type="submit") 投稿
  else
    p ログインして投稿してみよう！
  h2 投稿一覧
  each post in posts
    p #{post.content}
    p 投稿日時: #{post.createdAt}
    hr